@charset "UTF-8";

/* html */
html{
  font-size: 100%;
  margin: auto;
  scroll-behavior: smooth;
  background-color: #ffffff; 
  position: relative;
  z-index: 0; 
}
/* html end */

/* header */
#header{
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 200;
}
.header-nav{
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
nav ul{
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}
nav li{
  margin-left: 32px;
  list-style: none;
}
nav li a{
  text-decoration: none;
  background-color: transparent;
  position: relative;
  color: black;
}
nav li a:hover{
  color: #55AD9B;
}
nav li a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background:#55AD9B;
  transition: all .3s;
  transform: scale(0, 1);
  transform-origin: left top;
}
nav li a:hover::after{
  transform: scale(1,1);
}
/* header end */

/* main top */
main{
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 80px;
}
.site-title{
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 8px;
  line-height: 1.6em;
  text-align: left;
  width: 640px;
}
.site-title::first-letter{
  color: #55AD9B;
}
.scrolldown{
  position: absolute;
  left:50%;
  bottom:10px;
  height: 80%;
}
.scrolldown span{
  position: absolute;
  left:-15px;
  top: -15px;
  color: #000000;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.scrolldown span::first-letter{
  color: #55AD9B;
}
.scrolldown::after{
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  height: 30px;
  background: #55AD9B;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity:0;
}
@keyframes pathmove{
  0%{
    height:0;
    top:0;
    opacity: 0;
  }
  30%{
    height:30px;
    opacity: 1;
  }
  100%{
    height:0;
    top:50px;
    opacity: 0;
  }
}
/* main top end */

/* main about  */
.about-me-title{
  display: flex;
  margin-top: 400px;
}
.about-me-title p{
  margin-top: 32px;
  margin-left: 8px;
}
h2{
  font-size: xx-large;
  margin-top: 16px;
  margin-bottom: 80px;
}
h2::first-letter{
  color: #55AD9B;
}
h3{
  font-weight: normal;
}
.about-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}
.about-infomation{
  width: 72%;
}
.about-name{
  margin-bottom: 24px;
  text-align: left;
  font-size: 1.6rem;
}
.self-info{
  margin-bottom: 48px;
  font-size: 1.2rem;
  line-height: 2.6;
}
.about-hexagon-images{
  width: 28%;
  height: 64px;
  margin-left: 24px;
}
.hexagon-0__wrapper {
	display: flex;
	justify-content: center;
}
.hexagon-0_hexagon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	aspect-ratio: 200 / 173;
	background-color: #55AD9B;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.hexagon-0_hexagon>span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 96%;
	aspect-ratio: 200 / 173;
	background-image: url(Digital_sign_images/icon.jpg);
  background-size: cover;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.icon{
  display: flex;
  justify-content: center;
}
/* main about end */

/* main skill */
.skill-content{
  background-color: #D8EFD3;
  border-radius: 8px;
  padding-bottom: 56px;
}
.about-skill-title{
  display: flex;
  padding-left: 16px;
}
.about-skill-title p{
  margin-top: 32px;
  margin-left: 8px;
}
.skill-info-container{
  display: flex;
}
.skill-infomation{
  width: 48%;
  height: auto;
  margin: 16px;
  padding: 16px;
  border: solid 2px #55AD9B;
  background-color: #ffffff;
}
.skill-title{
  font-size: 32px;
}
.skill-images{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 8px;
}
.css{
  width: 90px;
  height: 100%;
}
.figma{
  width: 90px;
  height: 100%;
}
.figma-wordmark{
  width: 70px;
  height: 100%;
  padding-left: 16px;
}
/* main skill end */

/* main works */
.about-works-title{
  display: flex;
  margin-top: 160px;
}
.about-works-title p{
  margin-top: 32px;
  margin-left: 8px;
}
.works-list{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.works-contents-preview img{
  width: 48%;
  border-radius: 8px;
  border: solid 4px #55AD9B; 
}
.works-contents-preview a :hover{
  opacity: 0.8;
}
.works-contents-preview p.text-small {
  font-size: 12px;
  color: #A3A3A3;
  margin-top: -5px;
}
.coming{
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}
/* main works end */

/* footer */
footer{
  font-size: 0.5rem;
  padding: 8px;
  text-align: end;
}
#contact{
  text-align: left;
  background-color: #D8EFD3;
  border-radius: 8px;
}
.contact-title{
  width: 100%;
  font-size: 24px;
  padding-left: 16px;
  padding-top: 16px;
}
.contact-title ::first-letter{
  color: #55AD9B;
}
.contact-title-sub{
  width: auto;
  font-size: 16px;
}
.contact-infomation{
  display: flex ;
  justify-content: center;
  padding-left: 16px;
  padding-bottom: 16px;
  font-size: 40px;
}
.contact-infomation :hover{
  color: #55AD9B;
  transition: all 0.3s ease;
}
.rights{
  display: flex;
  justify-content: center;
}
/* footer end */

@media screen and ((min-width: 481px) and (max-width: 640px)) {
  

}
